<% include ../partials/header %>

<div class = "container">
    <div class = "row">
        <h1 style = "text-align:center">Add a new Product</h1>
        <div style = "width:30%; margin:25px auto">
             <form action = "/products/add-product" method ="POST">
                 <div class = "form-group">
                     <input class = "form-control" type = "text" name = "name" placeholder = "Enter Product Name">
                 </div>
                 <div class = "form-group">
                     <input class = "form-control" type = "number" name = "price" placeholder = "price" min="0.01" step = "0.01">
                 </div>
                 <div class = "form-group">
                     <input class = "form-control" type = "text" name = "image" placeholder = "Enter Image URL">
                 </div>
                 <div class = "form-group">
                     <input class = "form-control" type = "text" name = "description" placeholder = "Write something about product">
                 </div>
                 <div class = "form-group">
                     <input class = "form-control" type = "text" name = "make" placeholder = "Product Manufacturer">
                 </div>
                 <div class = "form-group">
                     <input class = "form-control" type = "text" name = "weight" placeholder = "Product weight">
                 </div>
                 <div class = "form-group">
                     <input class = "form-control" type = "text" name = "volume" placeholder = "Product volume">
                 </div>
                 <div class = "form-group">
                     <button class = "btn btn-lg btn-primary btn-block">Submit New Product</button>
                 </div>
            </form>
            <a href = "/products">Go back</a>
        </div>


    </div>
</div>

<% include ../partials/footer %>
