<% include ./partials/header %>

<div class="container">
  <h5>Forgot Password! Please enter your registered e-mail id below we will send the link to reset your password on this email id.</h5>

  <form action="/forgot" method = "POST">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label for="username">email</label>
          <input type="email" class="form-control" name = "email" id="" placeholder="Username">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
            <button type = "submit" value="login!" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<% include ./partials/footer %>
